<div style="height: 80vh; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
  <mat-icon style="font-size: 100px; height: 100px; width: 100px; color: #f44336; margin-bottom: 20px;">
    no_meeting_room
  </mat-icon>
  
  <h1 style="font-size: 5rem; color: #002b5c; margin: 0; font-family: 'Roboto', sans-serif;">404</h1>
  <h2 style="color: #666; margin-bottom: 30px;">This room (page) doesn't exist in our hotel!</h2>
  
  <button mat-raised-button color="primary" routerLink="/login" style="padding: 10px 40px; font-weight: bold;">
    RETURN TO RECEPTION
  </button>
</div>